body {
margin: 0;
        padding: 0;
  text-align: center;
  Background-color: black;
  color: black;
Font-size:50px;
font-family:"Century Gothic", sans-serif;
font-weight: 10;


}

div {
  margin-top: 12px;
}


.header {
margin: 0px;
  padding: 60px;
  text-align: center;
  background: rgba(255, 255, 255, .08);

  color: white;
  font-size: 30px;
}

.buttonleft {
  background-color: transparent;
  border: 1px solid white;
  color: white;
float: left;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
font-family:"Century Gothic", sans-serif;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}



.buttonleft:hover {
      background-color: white;
Opacity: 0.5;
  border: 1px solid white;
  color: black;

  font-size: 20px;
  transition: 0.7s;
  }

.buttonright:hover {
      background-color: white;
Opacity: 0.5;
  border: 1px solid white;
  color: black;

  font-size: 20px;
  transition: 0.7s;
  }



.buttonright {
  background-color: transparent;
  border: 1px solid white;
  color: white;
float: right;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
font-family:"Century Gothic", sans-serif;
  margin: 4px 4px;
  cursor: pointer;
}


a {
    display: inline;
    
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
color: white;
}
    
    
    
    
    
    
    
    
    